@charset "UTF-8";
/* CSS Document */

.floatR {
	float: right;
	text-align: right;
}
.floatR a {
	color: #333;
	text-decoration: none;
}
.floatR a:visited {
	color: #333;
	text-decoration: none;
}
.floatR a:hover{
	color: #007D26;
	text-decoration: none;
}
.floatR a:active {
	color: #000;
	text-decoration: none;
}
.topNav {
	padding-top: 25px;
	font-size: 0.8em;
}
.topBarContainer {
	background-color: #007d26;
	margin: 4px 13px;
}
.telLarge1 {
	float: right;
	font-size: 2em;
	color: #666;
	padding: 25px 8px 0 0;	
}
.telLarge2 {
	float: right;
	font-size: 2em;
	color: #007d26;
	padding-top: 25px;	
}
.topSlogan {
	float: right;
	font-size: 1.2em;
	color: #007d26;
}

.greyBox1 {
	background-color: #d8d7d7;
	padding: 10px 10px;
	margin: 0 0 4px 0;
	color:#000;
	font-size: small;
	}
.greyBox2 {
	background-color: #a8a7a7;
	padding: 10px 10px 10px 10px;
	margin: 0 0 4px 0;
	color:#fff;
	}
.greyBox3 {
	background-color: #ecebeb;
	padding: 10px 10px;
	margin: 0 0 4px 0;
	color:#000;
	font-size: small;
	}
.greyBox3 a {
	color:#000;
	text-decoration: none;
}
.greyBox3 a:visited {
	color:#000;
	text-decoration: none;
}
.greyBox3 a:hover{
	color: #007D26;
	text-decoration: none;
}
.greyBox3 a:active {
	color: #666;
	text-decoration: none;
}
	
.greyBox4 {
	background-color: #d8d7d7;
	padding: 10px 10px;
	margin: 0 0 4px 0;
	color:#000;
	font-size: small;
	}	
.greenBox1 {
	background-color: #007d26;
	padding: 10px 10px;
	margin: 0 0 4px 0;
	color:#fff;
	}
.greenBox2 {
	background-color: #c1e29e;
	padding: 10px 10px;
	margin: 0 0 4px 0;
	color:#000;
	}
.clearBox1 {
	padding: 10px 10px;
	margin: 0 0 4px 0;
	color:#a09f9f;
	/*border-left: solid 1px #ccc;
	background-color: #f1f1f1;*/
	}
.boxHeading1{
	color: #007d26;
	font-size: 2em;
	padding-bottom: 5px;
}
.boxHeading1 a {
    color: #007d26;
	text-decoration: none;
}
.boxHeading1 a:visited {
	color: #007d26;
	text-decoration: none;
}
.boxHeading1 a:hover{
	color: #000;
	text-decoration: none;
}
.boxHeading1 a:active {
	color: #007d26;
	text-decoration: none;
}
.boxHeading2{
	color: #000000;
	font-size: 1.3em;
	padding-bottom: 4px;
}
.boxItem2{
	font-size: 1.3em;
	padding-bottom: 4px;
	color: #fff;
}
.boxItem2 a {
    color: #fff;
	text-decoration: none;
}
.boxItem2 a:visited {
	color: #fff;
	text-decoration: none;
}
.boxItem2 a:hover{
	color: #007D26;
	text-decoration: none;
}
.boxItem2 a:active {
	color: #000;
	text-decoration: none;
}



.boxHeading3{
	color: #fe0000;
	font-size: 2em;
	padding-bottom: 4px;
}
.boxHeading4{
	color: #fff;
	font-size: 2em;
	padding: 10px 0px 4px 0px;
}
.boxHeading4 a {
	color: #007d26;
	text-decoration: none;
}
.boxHeading4 a:visited {
	color: #007d26;
	text-decoration: none;
}
.boxHeading4 a:hover{
	color: #F2343F;
	text-decoration: none;
}
.boxHeading4 a:active {
	color: #000;
	text-decoration: none;
}

.boxImage3{
	padding-top: 8px;
}
.rightNaviItem{
	font-size: 1.3em;
	padding-bottom: 4px;
	color: #999;
}
.rightNaviItem a {
	color: #999;
	text-decoration: none;
}
.rightNaviItem a:visited {
	color: #999;
	text-decoration: none;
}
.rightNaviItem a:hover{
	color: #007D26;
	text-decoration: none;
}
.rightNaviItem a:active {
	color: #000;
	text-decoration: none;
}
.mainContent6 {
	padding: 0px 10px 0px 10px;
}
.mainContent6 ul {
	margin-left: 20px;
}
.breadcrumb {
	color: #666;
	font-size: 0.8em;
}
.breadcrumb a {
	color: #666;
	text-decoration: none;
}
.breadcrumb a:visited {
	color: #666;
	text-decoration: none;
}
.breadcrumb a:hover{
	color: #007D26;
	text-decoration: none;
}
.breadcrumb a:active {
	color: #000;
	text-decoration: none;
}
.pageTitle1 {
	color: #007d26;
    font-size: 2em;
	padding-bottom: 4px;
}	
.pageTitle2 {
	color: #007d26;
	font-size: 1.3em;
	padding-bottom: 4px;
}
.pageQuote {
	color: #999;
	font-size: 1.1em;
	padding-bottom: 15px;
	line-height: 1.2em !important;
	height: 3.8em;
}
.spacer1 {
	height: 15px;
}
.spacer2 {
	height: 105px;
}
.spacer3 {
	height: 50px;
}
.spacer4 {
	height: 6px;
}
.spacer5 {
	height: 2px;
}
.dataPolicy {
	font-size: 0.8em;
}
.credits{
	font-size: 0.8em;
}
.greenHomeBox1 {
	background-color: #c1e29e;
	color: #333;
	margin-top: -10px;
	}
.greenHomeBox1L {
	float: left;
	padding: 10px 20px 10px 20px;
	width: 40%;
	}
.greenHomeBox1R {
	float: right;
	width: 60%;
	padding-right: 20px;
	color: #000;
	}
.clearfloat {
	clear:both;
	}
.greyBox3L {
	width: 50%;
	float: left;
}.greyBox3R {
	width: 50%;
	float: right;
}
.hallTitleBox {
	padding-left: 26%;
}
.offerImage {
	height: 273px;
}
.OCTitle {
	font-size: 2em;
	color: #fff;
	padding-top: 16px;
}
.OCSubtitle {
	font-size: 0.9em;
	color: #000;
	margin-top: -8px
}
.OCTitle2 {
	font-size: 2em;
	color: #fff;
	margin-top: -7px;
	line-height: 1em;
}
.OCSubtitle2 {
	font-size: 0.9em;
	color: #000;
	margin-top: 2px
}
.searchStyle {
	text-transform: uppercase;
}
.star101Container {
	padding-bottom: 10px;
}
.googleSearchField {
	width: 400px;
	overflow: hidden;
	text-align: right;
	float: right;
	}
.topRightNav {
	text-align: right;
	float: right;
	padding: 25px 0 0 0px;
	}	
@media only screen and (max-width: 767px) {
.hallTitleBox {
	padding-left: 10px;
}
.offerImage {
	height: 273px;
	text-align: center;
	margin-bottom: 5px;
}
}
